{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <div class="top-bar">
        <div class="login-page">


            <a href="#" class="heading" id="heading">Cloud</a>
            <div class="Login-top">
                <a href="{% url 'login' %}">Login</a>
                <a href="#" class="active">Register</a>
                {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>

        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="popup-card success">
        <img src="{% static 'images/success_logo.png' %}" alt="Success logo">
        <span class="popup-close" onclick="closePopup(this)">×</span>
        <p class="popup-message">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container">
        <div class="card-container">
            <h2>Login</h2>
            {% if user.is_authenticated %}
            <p>You are already logged in</p>
            {% else %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if form.errors %}
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <div class="popup-card error">
                    <img src="{% static 'images/warning_logo.png' %}" alt="Warning logo">
                    <span class="popup-close" onclick="closePopup(this)">×</span>
                    <p class="popup-message">{{ error }}</p>
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}
                <label for="name">Name </label>
                <input type="text" id="name" name="username" placeholder="Username" required>
                <label for="pass">Password </label>
                <input type="password" name="password" id="pass" placeholder="Password" required>
                <input type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            {% endif %}
        </div>
    </div>
</body>

</html>